[submodule "Down"]
	path = Down
	url = https://github.com/iwasrobbed/Down.git
[submodule "Highlightr"]
	path = Highlightr
	url = https://github.com/raspu/Highlightr.git
[submodule "GCDWebServer"]
	path = GCDWebServer
	url = https://github.com/swisspol/GCDWebServer.git
[submodule "Notepad"]
	path = Notepad
	url = https://github.com/ruddfawcett/Notepad.git
