<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HTML</key>
	<dict>
		<key>Blank document</key>
		<string>Blank/Untitled.html</string>
	</dict>
	<key>Markdown</key>
	<dict>
		<key>Blank document</key>
		<string>Blank/Untitled.md</string>
	</dict>
</dict>
</plist>
