<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HTML</key>
	<dict>
		<key>Blank document</key>
		<string>Blank/Untitled.html</string>
		<key>Ordered list</key>
		<string>Ordered list/Untitled.html</string>
		<key>Unordered list</key>
		<string>Unordered list/Untitled.html</string>
		<key>Table</key>
		<string>Table/Untitled.html</string>
	</dict>
	<key>Markdown</key>
	<dict>
		<key>Blank document</key>
		<string>Blank/Untitled.md</string>
		<key>Ordered list</key>
		<string>Ordered list/Untitled.md</string>
		<key>Unordered list</key>
		<string>Unordered list/Untitled.md</string>
		<key>Todo list</key>
		<string>Todo list/Untitled.md</string>
	</dict>
</dict>
</plist>
